

.nick{
    background-color: #bb84ff;
}

.main{
    margin: 5%;
    font-size: 1.5rem;
}

.albums{
    display: grid;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    margin-top: 5%;
    /* justify-content: center;
    gap: 4px;
    align-content: center;
    grid-auto-flow: column; */
}

.details{
    font-size: 1.25rem;
    justify-text: center;
    /* display: grid; */
    /* gap: 1rem; */
    /* justify-content: center */
}

.previousWork{
    color: white;
    font-size: 1rem;
    gap: .5rem;

}

.email{
    font-size: 1rem;

}